<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934171786425-jttulji2mqev9lsn4a3a33qf818ijfka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934171786425-jttulji2mqev9lsn4a3a33qf818ijfka</string>
	<key>API_KEY</key>
	<string>AIzaSyAaihJytvB6SyzshcSS7exgeyKa-c9gvU4</string>
	<key>GCM_SENDER_ID</key>
	<string>934171786425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abllseducation.ios.flutter.android.abllseducation</string>
	<key>PROJECT_ID</key>
	<string>abllseducation</string>
	<key>STORAGE_BUCKET</key>
	<string>abllseducation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934171786425:ios:10aa234074017b95a06f68</string>
</dict>
</plist>